.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px;
    vertical-align: middle;
}
.places h1 {
    width: 100%;
    font-size: 30px;
    padding-top: 20px;
}
.places h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 0;
}
.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ff5a5f;
    border-radius: 4px;
    margin-bottom: 20px;
}
.sqre {
    display: flex;
    justify-content: space-between;
    margin-top: -2%;
}

.sqre h2 {
    text-align: right;
    margin: 25px 0% 25px 30%;
}
.price_by_night {
    color: #ff5a5f;
    border: 4px solid #ff5a5f;
    min-width: 60px;
    font-size: 30px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.3%;
}
.information {
    height: 80px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.information div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 65px;
}

.max_guest {
    background: url("../images/icon_group.png") top center;
    background-repeat: no-repeat;
    width: 100px;
}
.number_rooms {
    background: url("../images/icon_bed.png") top center;
    background-repeat: no-repeat;
    width: 100px;
}
.number_bathrooms {
    background: url("../images/icon_bath.png") top center;
    background-repeat: no-repeat;
    width: 100px;
}
.user {
  margin-bottom: 2%;
  width: 100%;
}
.description {
    text-align: justify;
}

.amenities{
    margin-top: 40px;
    /* background-color: magenta; */
}
.amenities h2 {
    font-size: 16px;
    border-bottom: 1px solid #dddddd;
    text-align: left;
    margin: 0;
    padding-bottom: 10px;
}

.amenities ul {
    margin-top: 12px;
    padding: 0;
    justify-content: center;
    align-items: center;
    
}
.amenities ul li {
    line-height: 10px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
.amenities h4{
    font-size: 12px;
    padding-left: 30px;
    margin: 10px;
}

.div_tv{
    background: url("../images/icon_tv.png") left;
    display: inline-block;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0;
    padding: 0;
}
.div_wifi{
    background: url("../images/icon_wifi.png") left;
    display: inline-block;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0;
    padding: 0;
}
.div_pets{
    background: url("../images/icon_pets.png") left;
    display: inline-block;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0;
    padding: 0;
}
.div_food{
    background: url("../images/icon_food.png") left;
    display: inline-block;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0;
    padding: 0;
}




.reviews{
    margin-top: 40px;
    /* background-color: magenta; */
}

.reviews h2 {
    font-size: 16px;
    border-bottom: 1px solid #dddddd;
    text-align: left;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
}

.reviews h3{
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.reviews ul{
    margin: 0;
    padding: 0;
}
.reviews ul li {
    /* line-height: 10px; */
    margin-top: 20px;
    padding: 0;
    vertical-align: middle;
}
.reviews p{
    margin: 0;
    padding-top:  5px;
    text-align: justify;
}